

@media (min-width: 320px) and (max-width: 349px) {
  #level-title {
    font-size: 0.9rem;
  }

  .container {
    margin-top: 30px;
    margin-left: -5px;
  }

  .btn {
    height: 100px;
    width: 100px;
  }

  .high-score {
    font-size: 0.9rem;
    right: 30px;
  }
}

@media (min-width: 350px) and (max-width: 374px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 40px;
    margin-left: 5px;
  }

  .btn {
    height: 110px;
    width: 110px;
  }

  .high-score {
    font-size: 1.1rem;
    right: 28px;
    margin-top: 40px;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
  }

  .btn {
    height: 100px;
    width: 100px;
  }

  .high-score {
    font-size: 1rem;
    right: 50px;
  }
}

@media (min-width: 390px) and (max-width: 423px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
  }

  .btn {
    height: 120px;
    width: 120px;
  }

  .high-score {
    font-size: 1.2rem;
    right: 39px;
    margin-top: 40px;
  }
}

@media (min-width: 424px) and (max-width: 767px) {
  #level-title {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1.3rem;
    right: 45px;
    margin-top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  #level-title {
    font-size: 1.7rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 150px;
  }

  .btn {
    height: 180px;
    width: 180px;
  }

  .high-score {
    font-size: 1.8rem;
    left: 70px;
    margin-top: 230px;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  #level-title {
    font-size: 1.7rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 150px;
  }

  .btn {
    height: 180px;
    width: 180px;
  }

  .high-score {
    font-size: 1.8rem;
    left: 30px;
    margin-top: 240px;
  }
}

@media (min-width: 851px) and (max-width: 900px) {
  #level-title {
    font-size: 1.7rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 200px;
  }

  .btn {
    height: 180px;
    width: 180px;
  }

  .high-score {
    font-size: 1.8rem;
    left: 77px;
    margin-top: 240px;
  }
}
