
@media (min-width: 320px) and (max-width: 349px) {
  #level-title {
    font-size: 0.9rem;
  }

  .container {
    margin-top: 20px;
    margin-left: -20px;
  }

  .btn {
    height: 100px;
    width: 100px;
  }

  .high-score {
    font-size: 0.9rem;
    right: 26px;
    top: 420px
  }

  #how-to-play-btn {
    top: 480px;
    right: 70px;
    
  }

  .how-to-content{
    font-size: 0.7rem;
    top: 200px;
    height: 280px;
    width: 220px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 0.9rem;
  }
}

@media (min-width: 350px) and (max-width: 374px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 10px;
    margin-right: 5px;
  }

  .btn {
    height: 115px;
    width: 115px;
  }

  .high-score {
    font-size: 1rem;
    right: 40px;
    top: 430px
  }

  #how-to-play-btn {
    top: 480px;
    margin-right: 15px;
  }

   .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 290px;
    width: 250px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1rem;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
   #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 10px;
  }

  .btn {
    height: 115px;
    width: 115px;
  }

  .high-score {
    font-size: 1rem;
    right: 40px;
    top: 430px
  }

  #how-to-play-btn {
    top: 480px;
    right: 95px;
    
  }

  .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 300px;
    width: 250px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 30px;
  }

  .how-to-content h2{
    font-size: 1rem;
  }
}

@media (min-width: 390px) and (max-width: 400px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 10px;
    margin-left: 10px;
  }

  .btn {
    height: 115px;
    width: 115px;
  }

  .high-score {
    font-size: 1rem;
    margin-right: 20px;
    top: 430px
  }

  #how-to-play-btn {
    top: 480px;
    right: 100px;
    
  }

  .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 290px;
    width: 250px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1rem;
  }
}

@media (min-width: 401px) and (max-width: 423px) {
  #level-title {
    font-size: 1rem;
  }

  .container {
    margin-top: 10px;
    margin-left: 12px;
  }

  .btn {
    height: 115px;
    width: 115px;
  }

  .high-score {
    font-size: 1.1rem;
    margin-right: 15px;
    top: 430px
  }

  #how-to-play-btn {
    top: 480px;
    margin-right: 20px;
    font-size: 1.1rem;
    
  }

  .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 290px;
    width: 250px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1rem;
}
}

@media (min-width: 424px) and (max-width: 450px) {
  #level-title {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 40px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1rem;
    right: 74px;
    top: 490px
  }

  #how-to-play-btn {
    top: 540px;
    font-size: 1.1rem;
    right: 112px
    
  }

  .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 310px;
    width: 300px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1.1rem;
  }

}

@media (min-width: 451px) and (max-width: 479px) {
   #level-title {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 40px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1rem;
    right: 90px;
    top: 490px
  }


  #how-to-play-btn {
    top: 540px;
    font-size: 1.1rem;
    right: 130px
    
  }

  .how-to-content{
    font-size: 0.8rem;
    top: 200px;
    height: 310px;
    width: 300px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1.1rem;
  }

}

@media (min-width: 480px) and (max-width: 510px) {
  #level-title {
    font-size: 1.2rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 40px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1rem;
    right: 90px;
    top: 490px
  }

  #how-to-play-btn {
  top: 540px;
  right: 142px;
  }

  .how-to-content{
    font-size: 0.9rem;
    top: 200px;
    height: 310px;
    width: 300px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 10px;
  }

  .how-to-content h2{
    font-size: 1.1rem;
  }

}

@media (min-width: 511px) and (max-width: 539px) {
    #level-title {
    font-size: 1.3rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 55px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1.1rem;
    right: 100px;
    top: 510px
  }

  #how-to-play-btn {
  top: 570px;
  right: 160px;
  }

  .how-to-content{
    font-size: 1.1rem;
    top: 200px;
    height: 330px;
    width: 380px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 60px;
  }

  .how-to-content h2{
    font-size: 1.2rem;
  }
}

@media (min-width: 540px) and (max-width: 571px) {
  #level-title {
    font-size: 1.3rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 60px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1.1rem;
    right: 110px;
    top: 510px
  }

  #how-to-play-btn {
  top: 570px;
  right: 180px;
  }

  .how-to-content{
    font-size: 1.1rem;
    top: 200px;
    height: 330px;
    width: 380px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 60px;
  }

  .how-to-content h2{
    font-size: 1.2rem;
  }
}

@media (min-width: 572px) and (max-width: 757px) {
  #level-title {
    font-size: 1.3rem;
  }

  .container {
    margin-top: 30px;
    padding: 0 40px 0 0;
    margin-left: 80px;
  }

  .btn {
    height: 130px;
    width: 130px;
  }

  .high-score {
    font-size: 1.1rem;
    right: 120px;
    top: 510px
  }

  #how-to-play-btn {
  top: 570px;
  right: 185px;
  }

  .how-to-content{
    font-size: 1.1rem;
    top: 200px;
    height: 330px;
    width: 380px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 60px;
  }

  .how-to-content h2{
    font-size: 1.2rem;
  }

}


@media (min-width: 768px) and (max-width: 800px) {
  #level-title {
    font-size: 1.4rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 20px;
  }

  .btn {
    height: 180px;
    width: 180px;
  }

  .high-score {
    font-size: 1.4rem;
    left: 45px;
    top: 600px
  }

  #how-to-play-btn {
  top: 660px;
  right: 260px;
  font-size: 1.3rem;
  }
}

@media (min-width: 801px) and (max-width: 850px) {
  #level-title {
    font-size: 1.7rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 20px;
  }

  .btn {
    height: 190px;
    width: 190px;
  }

  
  .high-score {
    font-size: 1.6rem;
    left: 55px;
    top: 650px
  }

  #how-to-play-btn {
  top: 720px;
  margin-right: 190px;
  font-size: 1.4rem;
  }

  .how-to-content{
    font-size: 1rem;
    top: 200px;
    height: 350px;
    width: 350px;
    padding-top: 10px;
    border-radius: 5%;
    padding-bottom: 20px;
  }

  .how-to-content h2{
    font-size: 1.5rem;
  }

}

@media (min-width: 851px) and (max-width: 900px) {
  #level-title {
    font-size: 1.7rem;
  }

  .container {
    margin-top: 30px;
    margin-left: 10px;
  }

  .btn {
    height: 200px;
    width: 200px;
  }

  
  .high-score {
    font-size: 1.6rem;
    left: 55px;
    top: 670px
  }

  #how-to-play-btn {
  top: 740px;
  margin-right: 235px;
  font-size: 1.4rem;
  }
}

